node_modules/
*.log
coverage/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/


slices/*/coverage/**
slices/*/build/**
slices/*/lib/
slices/*/es/
slices/**/packages

packages/*/coverage/**
packages/*/build/**
packages/*/lib/
packages/*/es/
packages/**/packages


ci/*/lib/

apps/*/coverage/**
apps/*/build/**
apps/*/es/
apps/*/lib/

e2e/*/lib/
e2e/report

.DS_Store
.idea
.vscode/
sh.exe.stackdump
*.map
*.debug.js

/integration-tests/errors/*

*.suo
*.user
*.userprefs
*.sln.docstates

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.coverage
*.vs

# Style Cop files
StyleCop.Cache

# JetBrains Rider
.idea/

lernaGitlab_rsa
*rsa

# Visual Regression Tests
**/data-results/bitmaps_test/
**/data-results/report/

ffbuild/reports/*
*.zip
package-lock.json
